/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* * is the universal selector. This is used here to apply a full reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    /* add a border around the entire webpage */
    padding: 30px;
}

.header {
    /* vh lets us set a percentage of viewport height */
    height: 95vh;
    /* add a gradient on top of an image */
    background-image: 
        linear-gradient(
            to right bottom, 
            rgba(126, 213, 111, 0.8), 
            rgba(40, 180, 131, 0.8)
        ),
        url(../img/hero.jpg);
    /* cover will always try to fit the image within the viewport */
    background-size: cover;
    background-position: top;
    /* specify the 4 clockwise coords that lay out the visible section.
    Check out https://bennettfeely.com/clippy/ for a generator */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}